@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* shared style */
/* header{
    background-color: #FFF8F3;
    margin-top: none;
} */
.nav-title .r {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;

}

/* Button style */
.btn-2 {
    color: white;
    text-align: center;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 19px 18px;

}

.btn-3 {
    color: #FD6E0A;
    box-sizing: border-box;
    border: 1px solid rgb(253, 110, 10);
    border-radius: 5px;
    padding: 19px 18px;
    text-align: center;
    font-weight: 700;
    
    

}





.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
}

/* Nav styles */
body {
    font-family: "Open Sans", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 230px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 51px;
}

nav ul a {
    text-decoration: none;
    font-size: 20px;
}

.name {
    font-size: 85px;
    color: #181818;
}

.banner-description {
    font-size: 18px;

}